h1{text-align:center; margin:50px auto 30px;}
h1 a {}
h1 a img{width:200px;}
main{ }
main #loginFrm{border-bottom:1px solid#ccc; margin-bottom:20px; padding-bottom:20px;}
main #loginFrm fieldset {border:0;}
main #loginFrm fieldset ul{
    padding-left:0px;
}
main #loginFrm fieldset ul li {
    border:1px solid#ccc; background: #fff; 
    display:flex; flex-flow:row nowrap;
    margin-bottom: 10px; position: relative;
}
main #loginFrm fieldset ul .error{
    color: #e7223d; padding:10px; display:none;
}
main #loginFrm fieldset ul .id_error{
    border:0; height:20px;
}
main #loginFrm fieldset ul .pw_error{ border:0;}
main #loginFrm fieldset ul li span{}
main #loginFrm fieldset ul li .id_bg{
    border-right: 1px solid #ccc;
    padding:20px; width:10px;
    background-color: #f5f5f5; 
    position:relative;
}
main #loginFrm fieldset ul li .id_bg::after{
    content:''; display:block;
    background-image: url(../image/icon.svg);
    background-position: 0 0;
    width:21px; height: 21px;
    position:absolute; left:14px; top:11px;
}
main #loginFrm fieldset ul li .pw_bg{
    border-right: 1px solid #ccc;
    padding:20px; width:10px;
    background-color: #f5f5f5; 
    position:relative;
}
main #loginFrm fieldset ul li .pw_bg::after{
    content:''; display:block;
    background-image: url(../image/icon.svg);
    background-position: -22px 0;
    width:21px; height: 21px;
    position:absolute; left:14px; top:11px;

}
main #loginFrm fieldset ul li span input{width:350px;height:20px; border:0; padding-left: 5px;} 
main #loginFrm fieldset ul li span input::placeholder{font-size: 0.95rem; color:#aaa; }
main #loginFrm fieldset ul li span input[type = text]{}
main #loginFrm fieldset ul li span input[type = password]{}
main #loginFrm fieldset ul li .pw_show_hide{
    background-image: url(../image/icon.svg);
    background-position: -105px 0;
    width:21px; height: 21px;   
    position:absolute; right:8px; top:10px;
}
main #loginFrm fieldset .btm{
    display:flex; flex-flow:row nowrap; justify-content:space-between;
    padding:15px 0;
}
main #loginFrm fieldset .btm p {}
main #loginFrm fieldset .btm p label {}
main #loginFrm fieldset .btm p label input[name = login_y] {appearance:none;}
main #loginFrm fieldset .btm p label input[name = login_y] + span::before{
    background:#fff;
    border:1px solid #ccc;
    content:''; display:inline-block;
    width:17px; height:17px;
    background-image: url(../image/icon.svg);
    background-position:-65px -22px;
    margin-right: 5px;
}
main #loginFrm fieldset .btm p label input[name = login_y]:checked + span::before{
    background-position:-84px -21px;


}
main #loginFrm fieldset .btm p label span {}
main #loginFrm fieldset .btm .idpw_search {
    color:#0074e9;
}
main #loginFrm fieldset .btm .idpw_search::after{
    content: ''; display: inline-block;
    width: 15px; height: 15px;
    background-image: url(../image/icon.svg);
    background-position:-248px -21px;
    margin-left: 5px;
}
main #loginFrm fieldset #login_btn {
    background: #0074e9; width:100%; color:#fff;padding:20px 0;
    box-shadow: 0 1px #014a94; border: 0;
}
main .join_link {
    border:1px solid#eee; color:#0074e9;  
    background:#fff; text-align:center; padding:20px 0; margin-top:10px; width: 100%; display:block;
    box-shadow: 0 1px #eee;
}
footer { color:#333; text-align: center; font-size:0.85rem; margin-top:20px;}