body{
    background-color: rgb(153, 229, 153);
}

.content{
    background-color: rgb(230, 180, 230);
    border: 3px solid gray;
    border-radius: 10px; width:80%;
    padding:10px 20px ; margin:20px auto;
}