############################
# Python
############################
__pycache__/
*.py[cod]
*.pyo
*.pyd

############################
# Virtual Environment
############################
venv/
.venv/
env/

############################
# Django
############################
**/db.sqlite3
**/media/
**/staticfiles/

############################
# Environment variables
############################
.env
.env.*

############################
# OS / Editor
############################
.DS_Store
Thumbs.db
.vscode/
.idea/

############################
# Logs
############################
*.log

############################
# Safety: piro24_Pirostagram 안에 절대 들어가면 안 되는 것들
############################
piro24_Pirostagram/venv/
piro24_Pirostagram/**/__pycache__/
