.devtool_list{background-color: #1e1e1e;}
.create_btn a{
    text-decoration: none;
    color:inherit;
color:#5b985d;
}
.container{
    background-color: #2d2d2d;
    width:80%;
    margin-left: 50px;
    padding: 20px;

}
.item{
        list-style: none;
display:flex;
padding:20px;
    }


.title{
    text-decoration: none;
    color:inherit;
    color:#aadafa;
    width:10%;
    font-size: 20px;
    
}
.kind{
    color:#cccccc;
}
li{

}