.container{
    background-color: #2d2d2d;
    color:#cccccc;
    padding:30px;
    padding-top:0;
}
.title{
    
    color:#aadafa;
    font-size: larger; font-weight: 800;
    padding:30px 0;


}
.kind{
color:#5b985d;
}
.devtool_content{
    background-color: #3c3c3c;
    margin: 20px 0;
    margin-left: 10px;
    
}
h3{
    color:#b9a135;
}
.box{

}

li{
    list-style: none;
}
li a{
    text-decoration: none; color:inherit;
    font-size: small;
}
.btn{
    text-decoration: none; color:inherit;
}
.delete-btn{
    background: transparent;
    border: none;
    color:#cccccc;
    font-size:16px;
}
