.idea_list{background-color: #1e1e1e;}


.idea-grid{
    list-style:none; padding:0; margin:0; 
    display:grid; grid-template-columns:repeat(2, minmax(0,1fr)); gap:0px;
    width:900px;
}

.idea-header form{
    margin-left: auto;
    margin-right: 126px;

}
    .idea-header{
    display: flex; 
    align-items: center;
}

.idea-card{ /*하나당 박스 */
    background-color: #2d2d2d;
    margin:10px 0px;
    padding: 9px 20px; 
    display:grid;  row-gap: 0;
    border-radius: 1px #444;
    box-shadow: 0 4px 10px rgba(0,0,0,0.15);
    position:relative;
    grid-template-columns:150px 200px;
    width:390px;
}
.col1{ /*이미지 넣는 col*/ 
    margin:0;
}
.thumb-img{ 
    width:150px; height:200px; object-fit:cover; border-radius:5px;
    margin:0;
    padding: 0;
    padding-top: 9px; 
}

.col2{ /*텍스트들 넣는 col*/
    margin-top:20px; 
    margin-left: 20px;
    width:200px;
}

.star-btn{ /*우측 상단 배치 */
    position:absolute; top:8px; right:8px;
    background: transparent;
    cursor:pointer; border:none;
    font-size:25px;
} 

.row{ /*col2 안의 텍스트 한 줄당 row*/
    margin:10px 10px; display:flex; gap:8px; align-items:center; 
    
}

.row_idea_title{ /*아이디어 제목*/
    text-decoration: none; color:inherit;
    font-size: 20px;
    margin-top: 0;
    margin-bottom: 10px;
      display: block;
color:#69cbfb;


}
.row_key{/*텍스트들 이름 */
    color:#68ad6a;
}
.row_value{/*텍스트 내용*/
    text-decoration: none; color:inherit;
    color:#cccccc;
    margin-left: 20px;


}
.star-count{/*찜 개수*/
    margin-left: 50px;
}

.interest-btn{  /*관심도 버튼 */
    width:20px; height:20px; cursor:pointer; 
    border-radius: 999px;
    border: none;
    background: gray;
    opacity:0.6;
    padding:0 6px;
    
}


.pagination-bar{
    display:grid;
    grid-template-columns: 1fr auto 1fr;
    align-items: center;
    width:400px;
    margin:30px auto;
    margin-left:240px;
    color:#cccccc;
    
}

.pagi_left{
    justify-self: end;   /* 왼쪽 끝 */
    display:flex;
    align-items:end;
    gap:2px;
    padding:0 30px;
}
.pagi-center{
  justify-self: center;  /* 항상 중앙 고정 */
}

.pagi-right{
    justify-self: end;     /* 오른쪽 끝 */
    display:flex;
    padding-left: 0;
    
}
.pagi-left a, .pagi-right a{ /*그 버튼들*/
    padding: 6px 14px;
    text-decoration: none;
    color: inherit;
    color: #aaa9a9;
    font-size: 15px;

}
.page_btn:hover{
    color:#cccccc;
}